@font-face {
    font-family: ModernEra-Black;
    src: url(ModernEra-Black.woff);
}
@font-face {
    font-family: ModernEra-Regular;
    src: url(ModernEra-Regular.woff);
}
body
{
    background: #2f2d2e;
    font-family: 'ModernEra-Regular', sans-serif;
}
.header
{
    padding: 15px;
    margin-bottom: 140px;
}
.white_line
{
    background: white;
    height: 10px;
    width: 45px;
    float: left;
    margin-bottom: 30px;
}
.modern_era_black_50
{
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    font-family: 'ModernEra-Black', sans-serif;
}
.modern_era_black_24
{
    font-size: 24px;
    color: #fff;
    font-family: 'ModernEra-Black', sans-serif;
}
.modern_era_black_18
{
    font-family: 'ModernEra-Black', sans-serif;
    font-size: 18px;
}
.modern_era_bold_18
{
    font-size: 18px;
    color: #fff;
}
.modern_era_bold_12
{
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}
.text_box_label
{
    height: 30px;
    color: #fff;
}
.text_box_area
{
    margin-top: -30px;
}
.text_box_line
{
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 5px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 18px;
}
.form_field
{
    margin-bottom: 30px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.button_white
{
    border: 5px solid #fff;
    background: transparent;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    padding: 10px 80px;
    font-family: 'ModernEra-Regular', sans-serif;
}
.footer_links
{
    font-family: 'ModernEra-Black', sans-serif;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    float: left;
}
.social_link
{
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
    float: left;
}
.footer_links:hover, .footer_links:visited, .footer_links:active, .footer_links:focus, .social_link:hover, .social_link:visited, .social_link:active, .social_link:focus
{
    color: #fff !important;
    text-decoration: none !important;
}
.last_sec_text
{
    color: #2f2d2e;
    font-size: 18px;
}
.last_sec_text a , .last_sec_text a:hover, .last_sec_text a:visited, .last_sec_text a:active, .last_sec_text a:focus
{
    color: #2f2d2e;
    text-decoration: underline;
}
/* The container */
.check_cont {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check_cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check_cont:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_cont input:checked ~ .checkmark {
    background-color: #7FC3BA ;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check_cont input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check_cont .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #2f2d2e;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.addtocal
{
    float: left;
    background: #7FC3BA;
    color: #2f2d2e;
    font-size: 18px;
    padding: 10px 50px;
    text-decoration: none;
}
.addtocal , .addtocal:hover, .addtocal:visited, .addtocal:active, .addtocal:focus
{
    color: #2f2d2e;
    text-decoration: none;
}